{% extends 'base.html' %}

{% block content %}
    <h1>Home</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, aperiam fugiat totam officia explicabo voluptates fuga dicta. Est blanditiis quisquam laborum obcaecati explicabo reiciendis architecto iste accusamus quia harum nisi eum aliquid labore, ab voluptate hic beatae numquam placeat quaerat. Porro dolore hic animi accusamus autem enim laborum, delectus molestiae asperiores. Recusandae ullam ea aliquam explicabo praesentium vel rem temporibus optio eveniet odio eius, modi fuga, autem quaerat inventore, cum odit dolorem atque dignissimos quae velit! Veritatis eveniet repudiandae eaque facilis saepe sed consequatur quasi, at unde esse blanditiis quibusdam ea quaerat laboriosam facere assumenda fuga distinctio nemo amet nisi?</p>
{% endblock %}